<div id="header">
  <h1><a href="/"><img src="/images/logo.jpg" alt="" title="ardensys" /></a></h1>
  <div class="header_right_section"> 
    <% if user_signed_in? %>  
      <div id="inner_navigation">
        <ul>
          <li class="pad_rite"> <%= link_to raw("<span>Logout</span>"), destroy_user_session_path, :class => "right_none"  %></li>
          <% if current_user.role?(ROLES[SYSTEM_ADMIN])  %> 
            <li><%= link_to raw("<span>Edit Profile</span>"), reset_password_path(current_user), :rel => 'facebox'  %></li>  
          <% else  %> 
            <% if current_user.resource.class.name == "PhysicianGroup" %>
              <li> <%= link_to raw("<span>Edit Profile</span>"), edit_physician_group_path(current_user.resource) %></li>
            <% else %>
              <li> <%= link_to raw("<span>Edit Profile</span>"), edit_physician_path(current_user.resource), :rel => 'facebox'  %></li>
            <% end %> 
          <% end %> 
          <% if  current_user.role?(ROLES[GROUP_ADMIN]) ||  current_user.role?(ROLES[PHYSICIAN_ADMIN])  %>    
            <!--            <li><%#= link_to raw("<span>Subscribe</span>"), subscribe_path(current_user.resource.name), :class => "pad_rite" if current_user.resource_type == "PhysicianGroup" %> -->
            <!--li><%#= link_to raw("<span>Administration</span>"), current_user.role?(ROLES[GROUP_ADMIN]) ? edit_physician_group_path(current_user.resource) : referring_physicians_path  %> </li>   
            <%# if  current_user.role?(ROLES[PHYSICIAN_ADMIN]) ||  current_user.role?(ROLES[PHYSICIAN_FUNCTIONAL])  %> 
              <li><%#= link_to raw("<span>Home</span>"), activities_path  %></li--> 
            <%# end %> 
          <% end %> 
        </ul>
      </div>
      <p><a href="#"><%= welcome_tag  %></a></p> 
    <% else %>  
      <div id="inner_navigation">
        <ul>
          <li class="pad_rite">
          <%= link_to raw("<span>Login</span>"), new_user_session_path, :class => "pad_rite"  %>  
          </li>
          <li><a href="#"><span>register</span></a></li>
        </ul>
      </div>
      <span><a href="#">Forgot Password?</a></span> 
    <% end %>  
  </div>
</div>
