<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Qliqsoft</title>
    <%= stylesheet_link_tag 'style', 'facebox', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/smoothness/jquery-ui.css' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui-min', 'facebox', 'rails', 'application', 'jquery-validation','client_side_validations' %>
    <%= javascript_include_tag 'application'  %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      //<![CDATA[
    var BLANK_URL = 'include/blank.html';
    var BLANK_IMG = 'include/spacer.gif'; //]]> </script>
    <!--[if lt IE 7]> <script type="text/javascript" src="include/ds-sleight.js" ></script> <![endif]-->
    <!--[if IE]><link rel="stylesheet" type="text/css" href="include/ie.css"><![endif]-->
    <%= yield :head %>
  </head>
<body>
  <div class="wrapper">
    <%= render :partial => '/layouts/header'  %>  
    <%= render :partial => '/layouts/notice'  %>
    <div id="page">
      <%= yield  %>  
    </div>
    <%= render :partial => "/layouts/footer"  %>  
  </div>
</body>
</html>
